RewriteEngine on
RewriteCond %{HTTP_HOST} ^wedding.ilhamdsofyan\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wedding.ilhamdsofyan\.com$
#RewriteRule ^public_html$ "https\:\/\/wedding.ilhamdsofyan\.com\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set Content-Security-Policy "base-uri 'self' *.googletagmanager.com *.google-analytics.com *google.com 'unsafe-inline' 'unsafe-eval'"
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
Header set Cache-Control "max-age=31536000, public, must-revalidate"
</IfModule>

Options -Indexes
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
